<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark border-bottom" id="navbar">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item"><button class="btn" id="menu-toggle"><i class="fa fa-bars" aria-hidden="true"></i></button></li>
      <li class="nav-item"><%= link_to 'Shop', store_index_url, class: "nav-link" %></li>
      <% if current_user.present? %>
        <li class="nav-item"><%= link_to 'Orders', orders_url, class: "nav-link"%></li>
        <li class="nav-item"><%= link_to 'Products', products_url, class: "nav-link" %></li>
        <li class="nav-item"><%= link_to 'Account', edit_user_registration_path, class: "nav-link" %></li>
        <li class="nav-item"><%= link_to 'Logout', destroy_user_session_path, class: "nav-link", method: :delete %></li>
      <% else %>
        <li class="nav-item"><%= link_to 'Login', new_user_session_path, class: "nav-link" %></li>
        <li class="nav-item"><%= link_to 'Sign up', new_user_registration_path, class: "nav-link" %></li>
      <% end %>
    </ul>
  </div>
</nav>