<script>
    const openCart = () => {
        $('#wrapper').removeClass('toggled');
        localStorage.setItem('revealed?', 'true')
        const cart_down_icon = `<i class="fa fa-shopping-cart" aria-hidden="true"></i>
          <i class="fa fa-chevron-left" aria-hidden="true"></i>`
        $('.toggle-cart-btn').html(cart_down_icon);
        $('.toggle-cart-btn').off('click').on('click',closeCart);
    }
    const closeCart = () => {
        $('#wrapper').addClass('toggled');
        localStorage.setItem('revealed?', 'false')
        const cart_right_icon = `<i class="fa fa-shopping-cart" aria-hidden="true"></i>
          <i class="fa fa-chevron-right" aria-hidden="true"></i>`;
        $('.toggle-cart-btn').html(cart_right_icon);
        $('.toggle-cart-btn').off('click').on('click', openCart);
    }
  $(document).on('turbolinks:load', () => {
      if (localStorage.getItem('revealed?') === 'true') {
          openCart();
      } else {
          closeCart();
      }
  })

</script>
<nav class="navbar fixed-top navbar-expand-lg bg-dark border-bottom" id="navbar">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <% if @cart %>
            <button class="btn toggle-cart-btn">
              <i class="fa fa-shopping-cart" aria-hidden="true"></i>
              <i class="fa fa-chevron-left" aria-hidden="true"></i>
            </button>
          <% end %>
        </li>
      <li class="nav-item"><%= link_to 'Shop', store_index_url, class: "nav-link" %></li>
      <% if current_user.present? %>
        <li class="nav-item"><%= link_to 'Orders', orders_url, class: "nav-link"%></li>
        <li class="nav-item"><%= link_to 'Products', products_url, class: "nav-link" %></li>
        <li class="nav-item"><%= link_to 'Genres', genres_url, class: "nav-link" %></li>
        <li class="nav-item"><%= link_to 'Account', edit_user_registration_path, class: "nav-link" %></li>
        <li class="nav-item"><%= link_to 'Logout', destroy_user_session_path, class: "nav-link", method: :delete %></li>
      <% else %>
        <li class="nav-item"><%= link_to 'Login', new_user_session_path, class: "nav-link" %></li>
        <li class="nav-item"><%= link_to 'Sign up', new_user_registration_path, class: "nav-link" %></li>
      <% end %>
    </ul>
  </div>
</nav>