<!DOCTYPE html>
<html>
  <head>
    <title>Depot store</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class ='<%= controller.controller_name %>'>
    <div id="banner">
      <%= image_tag 'logo.svg', alt: 'The Pragmatic Bookshelf' %>
      <span class="title"><%= @page_title %></span>
    </div>
    <div class="container-fluid">
      <div class="row" id="columns">
        <div class="col-2" id="side">
          <div id="cart">
            <% if @cart %>
              <%= hidden_div_if(@cart.line_items.empty?, id: 'cart') do %>
                <%= render(@cart) %>
              <% end %>
            <% end %>
          </div>

          <ul>
            <li><%= link_to 'Home', store_index_url %></li>
            <li><a href="http://www..../faq">Questions</a></li>
            <li><a href="http://www..../news">News</a></li>
            <li><a href="http://www..../contact">Contact</a></li>
          </ul>
        </div>
        <div class="col-10" id="main">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
