<!DOCTYPE html>
<html>
  <head>
    <title>Depot store</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!--    Datetime picker-->
    <%= stylesheet_link_tag "https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" %>
    <%= javascript_include_tag "https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" %>

  </head>

  <body class ='<%= controller.controller_name %>'>
    <div id="wrapper" class="d-flex toggled">
      <div id="sidebar-wrapper" class="bg-light border-right">
        <%= render 'layouts/sidebar' %>
      </div>
        <div id="page-content-wrapper">
          <div id="navbar">
            <%= render 'layouts/navbar' %>
          </div>
          <div class="container" id="main">
            <div id="notifications">
              <%= render 'layouts/notifications' %>
            </div>
            <%= yield %>
          </div>
        </div>
      </div>
  </body>
</html>
