<!DOCTYPE html>
<html>
  <head>
    <title>Depot store</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class ='<%= controller.controller_name %>'>
    <% if alert %>
      <p class="alert"><%= alert %></p>
    <% end %>
    <div id="banner">
      <%= image_tag 'logo.svg', alt: 'The Pragmatic Bookshelf' %>
      <span class="title"><%= @page_title %></span>
    </div>
    <div class="container-fluid">
      <div class="row" id="columns">
        <div class="col-2" id="side">
          <div id="cart">
            <% if @cart %>
              <%= hidden_div_if(@cart.line_items.empty?, id: 'cart') do %>
                <%= render(@cart) %>
              <% end %>
            <% end %>
          </div>
          <ul>
            <% if current_user.present? %>
              <li><b>Welcome: <%= current_user.name %></b></li>
            <% end %>
            <li><%= link_to 'Home', store_index_url %></li>
            <% if current_user.present? %>
              <li><%= link_to 'Received orders', orders_url %></li>
              <li><%= link_to 'Manage products', products_url %></li>
              <li><%= link_to 'Account settings', edit_user_registration_path %></li>
              <li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
            <% else %>
              <li><%= link_to 'Login', new_user_session_path %></li>
              <li><%= link_to 'Sign up', new_user_registration_path %></li>
            <% end %>

          </ul>
        </div>
        <div class="col-10" id="main">
          <%= yield %>
        </div>
      </div>
    </div>


  </body>
</html>
