<%= form_with(model: product, local: false) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>
      <ul>
        <% product.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <strong><%= form.label :title %></strong>
    <%= form.text_field :title, class:"form-control" %>
  </div>

  <div class="field">
    <strong><%= form.label :description %></strong>
    <%= form.text_area :description, rows: 10, cols: 60, class:"form-control" %>
  </div>

  <div class="field image-carousel form-carousel">
    <%= render 'products/image_carousel' %>
  </div>

  <div class="field">
    <%= form.label 'Product images: click to download' %>
    <%= form.file_field :product_images, multiple: true %>
  </div>


  <div class="row">
    <div class="field col-md-6">
      <strong><%= form.label :product_type %></strong>
      <%= form.text_field :product_type, class:"form-control" %>
    </div>
    <div class="field col-md-6">
      <strong><%= form.label :price %></strong>
      <%= form.text_field :price, class:"form-control" %>
    </div>
  </div>



  <div class="actions">
    <%= form.submit class: "btn btn-secondary" %>
  </div>
<% end %>
