<script>
  $(document).on('turbolinks:load', () => {
      $('.select-genre').select2({
          tags: true,
      })
  })
</script>

<%= form_with(model: product, local: false) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>
      <ul>
        <% product.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <strong><%= form.label :title %></strong>
    <%= form.text_field :title, class:"form-control" %>
  </div>

  <div class="field">
    <strong><%= form.label :description %></strong>
    <%= form.text_area :description, rows: 10, cols: 60, class:"form-control" %>
  </div>


  <div class="row">
    <div class="field col-md-6">
      <strong><%= form.label :genres %></strong>
<!--      Options are all existing genre names and selected are current genres of the product-->
      <%= form.select :genre_names,
                      options_for_select(@genre_names, selected: @product.genres.map {|genre| genre.name}),
                      {}, class: "select-genre form-control", multiple: true %>
    </div>
    <div class="field col-md-6">
      <strong><%= form.label :price %></strong>
      <%= form.text_field :price, class:"form-control" %>
    </div>
  </div>

  <strong><label>Best seller rankings</label></strong>
  <div id="best-seller-rankings">
    <%= form.fields_for :best_seller_rankings do |ranking| %>
      <%= render 'best_seller_ranking_fields', f: ranking %>
    <% end %>
    <%= link_to_add_association 'Add ranking', form, :best_seller_rankings %>
  </div>

  <div class="field image-carousel form-carousel">
    <%= render 'products/image_carousel' %>
  </div>

  <div class="field">
    Product images: click to download
  </div>

  <div class="field">
    <%= form.file_field :product_images, multiple: true %>
  </div>


  <div class="actions">
    <%= form.submit class: "btn btn-secondary submit-btn" %>
  </div>
<% end %>
