<tr class="<%= cycle('list_line_odd', 'list_line_even') %>" id="<%= "product#{product.id}" %>">
  <td>
    <%= product.id %>
  </td>
  <td>
    <%= product.title %>
  </td>
  <td>
    <% if product.product_images.attached? %>
      <%= image_tag(product.product_images.first.variant(resize_to_limit: [200, nil]), class: 'list_image') %>
    <% else %>
      No image
    <% end %>
  </td>
  <td>
    <%= truncate(strip_tags(product.description), length: 400) %>
  </td>
  <td>
    $<%= number_with_precision(product.price, precision: 2, delimiter: ',') %>
  </td>
  <td class="list_actions">
    <%= link_to 'Show', product %><br/>
    <%= link_to 'Edit', edit_product_path(product) %><br/>
    <%= link_to 'Destroy', product, method: :delete, remote: true,
                data: { confirm: 'Are you sure?' } %>
  </td>
</tr>