<tr id="order">
  <td><%= order.id %></td>
  <td><%= order.email.truncate(30) %></td>
  <td><%= order.name.truncate(30) %></td>
  <td><%= order.pay_type %></td>
  <td><%= order.address.truncate(30) %></td>
  <td>$<%= number_with_precision(order.total_price(current_user), precision: 2, delimiter: ',') %></td>
  <td><%= order.created_at.strftime("%m/%d/%Y") %></td>
  <td id="shipped"><%= order.is_user_products_shipped?(current_user) ? "Shipped" : button_to('Ship', ship_order_url(order), method: :get, remote: true)  %></td>
</tr>