<h1 id="title">Order Id: <%= @order.id %></h1>
<div class="row order-show">
  <div class="card w-100 container ">
    <div class="card-header row">
      <div class="col-md-2 order-date">
        <p><strong>DATE:</strong></p>
        <%= @order.created_at.strftime("%m/%d/%Y") %>
      </div>
      <div class="col-md-2 order-total">
        <p><strong>TOTAL:</strong></p>
        $<%= @order.total_price(current_user) %>
      </div>
      <div class="col-md-2 order-buyer">
        <p><strong>BUYER:</strong></p>
        <%= @order.email %>
      </div>
      <div class="col-md-2 order-pay-type">
        <p><strong>PAYMENT TYPE:</strong></p>
        <%= @order.pay_type %>
      </div>
      <div class="col-md-2 order-status">
        <p><strong>STATUS:</strong></p>
        <%= @order.is_user_products_shipped?(current_user) ? "Shipped" : "Awaiting shipment" %>
      </div>
      <% unless @order.is_user_products_shipped?(current_user) %>
        <div class="col-md-2 h-100 align-items-end justify-items-center order-ship-col">
          <%= button_to('Ship', ship_order_url(@order), method: :get, remote: true, class:"order-ship-btn") %>
        </div>
      <% end %>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <div class="row">
          <div class="col-md-8">
            <strong>Product</strong>
          </div>
          <div class="col-md-2">
            <strong>Qty</strong>
          </div>
          <div class="col-md-2">
            <strong>Price</strong>
          </div>
        </div>
      </li>
      <% @order.line_items.each do |item| %>
        <li class="list-group-item">
          <div class="row">
            <div class="col-md-8">
              <%= item.product.title %>
            </div>
            <div class="col-md-2">
              <%= item.quantity %>
            </div>
            <div class="col-md-2">
              $<%= item.total_price %>
            </div>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
  <%= link_to 'Back to orders', orders_url, class: "orders-back-link" %>
</div>