<div class="d-flex justify-content-center h-100" id="user_form">
  <div class="card">
    <div class="card-header">
      <h3>Update account</h3>
    </div>
    <div class="card-body" id="edit-account-form">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        <div class="field form-group">
          <strong><label>Email</label></strong>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "Email"%>
        </div>
        <div class="field form-group">
          <strong><label>Name</label></strong>
          <%= f.text_field :name, class: "form-control", placeholder: "Name" %>
        </div>

        <div id="business-permit">
          <%= f.fields_for :business_permit do |permit| %>
            <div class="field">
              <strong><%= permit.label 'Business permit number' %></strong>
              <%= permit.text_field :permit_number, autocomplete:"business-permit" %>
            </div>
          <% end %>
        </div>

        <div class="field form-group">
          <strong><label>New password</label></strong>
          <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
        </div>
        <div class="field form-group">
          <strong><label>Confirm new password</label></strong>
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
        </div>
        <div class="field form-group">
          <strong><label>Current password</label></strong>
          <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control" %>
        </div>

        <div class="row form-group justify-content-center">
          <%= f.submit "Update", class: "btn float-right submit_btn" %>
        </div>
      <% end %>

      <div class="row form-group justify-content-center">
        <%= button_to "Delete account", registration_path(resource_name),
                      data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger"%>
      </div>

    </div>
    <div class="card-footer">
      <div class="d-flex justify-content-center links">
        <%= link_to 'Back', :back %>
      </div>
    </div>
  </div>
</div>
