<div class="col-md-4 mt-4 mt-sm-0 card-container">
  <div class="card text-center product p-4 pt-5 border-0 h-100 rounded-0">
    <%= image_tag(product.image_url) %>
    <div class="card-body p-4 py-0 h-xs-440p">
      <h3><%= product.title %></h3>
      <p><%= sanitize(product.description) %></p>
      <span class="price"><%= number_to_currency(product.price) %></span>
    </div>
    <p class="btn w-100 px-4 text-center mx-auto">
      <%= button_to(line_items_path(product_id: product), {remote: true, class: "btn btn-warning"}) do %>
        Add to cart <i class='fa fa-cart-plus' aria-hidden='true'></i>
      <% end %>
  </div>
</div>